.twitter-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.twitt-container {
  width: 100%;
  max-width: 468px;
}

.bulk-delete-btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  background-color: #fa2c2c;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.bulk-delete-btn:hover {
  background-color: #e63232;
}
